In [13]:
import pandas as pd
import sqlite3 as sql

In [14]:
data = pd.read_excel('Proyecto_final_IN2023.xlsx')
conexion = sql.connect(':memory:')
missingData = data.isnull().sum()
print("Data sin imputaciones ",missingData)

Data sin imputaciones  Transaction_ID        0
Date_buy              0
Customer_ID           0
Gender                8
Age                   0
Product_Category      0
Quantity              0
Price_per_Unit        0
Total_Amount          2
Estado_de_la_orden    0
Zona_de_Entrega       0
Zona_registrada       0
Has_Voucher           0
Payment_method        0
Telefono_contato      0
dtype: int64

In [15]:
# ImputaciÃ³n de datos
# Gender con moda
data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)

# Total_Amount calculandolo
data.loc[data['Total_Amount'].isnull(), 'Total_Amount'] = data['Price_per_Unit'] * data['Quantity']

print("Data con imputaciones ",data.isnull().sum())

Data con imputaciones  Transaction_ID        0
Date_buy              0
Customer_ID           0
Gender                0
Age                   0
Product_Category      0
Quantity              0
Price_per_Unit        0
Total_Amount          0
Estado_de_la_orden    0
Zona_de_Entrega       0
Zona_registrada       0
Has_Voucher           0
Payment_method        0
Telefono_contato      0
dtype: int64

In [16]:
stats = data.describe()
print(stats)
# Creamos un nuevo dataframe sin datos nulos
data.to_excel('Proyecto_final_IN2023_update.xlsx', index=False)

       Transaction_ID                       Date_buy          Age  \
count     1129.000000                           1129  1129.000000
mean       782.309123  2023-07-06 13:27:22.161204736    41.112489
min          1.000000            2023-01-01 00:00:00    18.000000
25%        283.000000            2023-04-08 00:00:00    29.000000
50%        565.000000            2023-07-01 00:00:00    41.000000
75%        847.000000            2023-10-11 00:00:00    53.000000
max      20420.000000            2024-01-01 00:00:00    64.000000
std       1985.051781                            NaN    13.686870

          Quantity  Price_per_Unit  Total_Amount  Telefono_contato
count  1129.000000     1129.000000   1129.000000      1.129000e+03
mean      2.598760      163.494243    424.557130      2.230641e+08
min       1.000000        5.000000     10.000000      8.956500e+04
25%       1.000000       30.000000     60.000000      2.619715e+06
50%       2.000000       50.000000    120.000000      5.005151e+06
75%       4.000000      300.000000    500.000000      7.552619e+06
max      20.000000     2000.000000  20000.000000      7.897249e+10
std       1.493852      197.360778    830.475105      3.510671e+09

In [20]:
data.to_sql('datos', conexion, index=False)

ValueError: Table 'datos' already exists.

In [ ]:

consulta1 = """
SELECT COUNT(DISTINCT Customer_ID) AS TotalUsuariosReorder
FROM datos
WHERE strftime('%m', Date_Buy) BETWEEN '01' AND '11'
  AND Customer_id IN (
    SELECT DISTINCT Customer_ID
    FROM datos
    WHERE strftime('%m', Date_Buy) = '12'
  );
"""
resultado1 = pd.read_sql_query(consulta1, conexion)

In [12]:
conexion.close()